<div class="col-md-6 col-md-offset-3">
   
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="edit()" style="margin-top:30px;">
      
    <h3>Edit User Profile</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="fullname" ng-model="user.fullname"></input>
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" placeholder="city" ng-model="user.city"></input>
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" placeholder="state" ng-model="user.state"></input>
    </div>
    
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>

</div>